@charset "utf-8";

@import "CardSearchCondition.css";

/*----#update_list----*/

#update_list{
	background-color:#888;
	border:solid 2px #555;
	/* 2014.01対応 コンテンツ幅調整 */
	/* 2014.02対応 コンテンツ幅再調整 */
	/*margin: 0 6px;*/
}

	#update_list table{
		width:100%;
		margin:0 auto;
		border-collapse: collapse;
	}

	#update_list table tr{
		height:35px;
		min-height:35px;
	}

#update_list table tr.row{
		background:#fff url(../image/parts/list_style_line_bk.png) center repeat-x;
		background-size:100% 100%;
	}

	#update_list table tr th,
	#update_list table tr td{
		padding:0;
	}

	#update_list table tr th{
			color:#fff;
			text-align:left;
			padding-left:10px;
	}

	#update_list table tr td a{
		text-decoration:none;
	}

	#update_list table tr td a:hover{
		text-decoration:underline;
	}

/*----/#update_list----*/
