@charset "utf-8";
#keyword {
    font-size: 15px !important;
    font-weight: bold;
    height: 18px;
    padding: 7px 7px 5px;
}
a.button_on {
    background-color: #6EC0FF;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 23px;
    line-height: 2em;
    text-decoration: none;
    text-indent: 10px;
    width: 110px;
}
a.button_on img {
    height: 20px;
    width: 20px;
}
a.button_on:hover {
    text-decoration: none !important;
}
a.button_on:visited {
    color: #FFFFFF !important;
    text-decoration: none !important;
}
a.button_off {
    background-color: #D7E1EB;
    border-radius: 20px;
    color: #555555;
    cursor: pointer;
    display: block;
    height: 23px;
    line-height: 2em;
    text-decoration: none;
    text-indent: 10px;
    width: 110px;
}
a.button_off img {
    height: 20px;
    width: 20px;
}
a.button_off:hover {
    background-color: #FFFFFF;
    text-decoration: none !important;
}
a.button_off:visited {
    color: #555555 !important;
    text-decoration: none !important;
}
a.radio_on_left, a.radio_on_right {
    cursor: pointer;
    text-decoration: none;
}
a.radio_on_left:hover, a.radio_on_left:visited {
    text-decoration: none !important;
}
a.radio_off_left, a.radio_off_right {
    cursor: pointer;
    text-decoration: none;
}
a.radio_off_left:hover, a.radio_off_left:visited, a.radio_off_right:hover, a.radio_off_right:visited {
    text-decoration: none !important;
}
a.effect_1_it, a.effect_3_es {
    line-height: 1.9em;
}
a.effect_1_it span {
    font-size: 9px;
}
a.effect_3_es span {
    font-size: 11px;
}
a.species_5_de, a.species_22_de {
    font-size: 10px;
    line-height: 2.4em;
}
a.species_7_de, a.species_1_es {
    font-size: 9px;
    line-height: 2.8em;
}
#search_box {
    background: url("../image/parts/keyword_line_bk.png") repeat-x scroll center top #DDDDDD;
    border: 2px solid #555555;
    border-radius: 5px;
    clear: both;
    padding: 3px;
}
#search_box .dk_container {
    font-size: 13px;
    font-weight: bold;
}
#search_box img.search_box_tips {
    height: 12px;
    padding-bottom: 7px;
    width: 13px;
}
#search_box div.search_body {
    background: url("../image/parts/search_body_bg.jpg") repeat scroll 0 0 #637285;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: left;
}
#search_box div.search_body table tr td {
    padding: 2px;
}
#search_box div.search_body b {
    color: #FFFC00;
    line-height: 1.9em;
}

#search_box div.search_body a {
    /*width: 36px;*/
}

#search_box a {
    text-decoration: none;
}
#search_box a:hover {
    text-decoration: none;
}
#search_by_keyword_and_type {
    height: 45px;
}
#search_by_keyword_and_type table tr td {
    padding: 3px;
}
#search_by_attack_and_defense_and_level {
}
#search_by_attack_and_defense_and_level span {
    display: inline-block;
    float: left;
    height: 20px;
}
#search_by_attack_and_defense_and_level #level_rank_title {
    width: 122px;
}
#search_by_attack_and_defense_and_level #level_rank_input {
    border-right: 1px solid #414A56;
    width: 142px;
}
#search_by_attack_and_defense_and_level #attack_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 114px;
}
#search_by_attack_and_defense_and_level #and {
    
    border-right: 1px solid #414A56;
    padding-left: 15px;
    width: 60px;
}
#search_by_attack_and_defense_and_level #attack_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_attack_and_defense_and_level #defense_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 74px;
}
#search_by_attack_and_defense_and_level #defense_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_attack_and_defense_and_level #atkfr, #search_by_attack_and_defense_and_level #deffr, #search_by_attack_and_defense_and_level #atkto, #search_by_attack_and_defense_and_level #defto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 60px;
}
#search_by_attack_and_defense_and_level #starfr, #search_by_attack_and_defense_and_level #starto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 50px;
}
#search_by_attack_and_defense_and_level #atkfr, #search_by_attack_and_defense_and_level #deffr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 39px 3px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_attack_and_defense_and_level #atkto, #search_by_attack_and_defense_and_level #defto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 39px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_attack_and_defense_and_level #starfr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;
}
#search_by_attack_and_defense_and_level #starto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_attack_and_defense_and_level #pen_scale_title, #search_by_attack_and_defense_and_level #blank {
    border-left: 1px solid #90A6B0;
    padding-left: 10px;
    width: 105px;
}
#search_by_attack_and_defense_and_level #pen_scale_input {
    width: 30px;
}
#search_by_attack_and_defense_and_level #pscale {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 24px;
}
#search_box #condition_toggle {
    background-color: #333333;
    color: #CCCCCC;
    cursor: pointer;
    font-size: 11px;
    padding: 4px 0 3px;
    text-align: center;
}
#search_box #and_or {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px;
    height: 23px;
    margin-top: 3px;
    text-align: center;
    width: 96px;
}
#search_box #and_or img {
    margin-bottom: 1px;
    vertical-align: middle;
}
#search_box #and_or b {
    color: #555555;
}
#afiliacao{
    width: 250px;
    margin-right: 100px;
}
#afiliacao2{
    width: 250px;
    margin-right: 100px;
}

#search_by_afiliacao {
}
#search_by_afiliacao span {
    display: inline-block;
    float: left;
    height: 20px;
}
#search_by_afiliacao #level_rank_title {
    width: 122px;
}
#search_by_afiliacao #level_rank_input {
    border-right: 1px solid #414A56;
    width: 142px;
}
#search_by_afiliacao #attack_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 114px;
}
#search_by_afiliacao #and {
    
    border-right: 1px solid #414A56;
    padding-left: 15px;
    width: 60px;
}
#search_by_afiliacao #attack_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_afiliacao #defense_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 74px;
}
#search_by_afiliacao #defense_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_afiliacao #atkfr, #search_by_afiliacao #deffr, #search_by_afiliacao #atkto, #search_by_afiliacao #defto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 60px;
}
#search_by_afiliacao #starfr, #search_by_afiliacao #starto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 50px;
}
#search_by_afiliacao #atkfr, #search_by_afiliacao #deffr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 39px 3px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_afiliacao #atkto, #search_by_afiliacao #defto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 39px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_afiliacao #starfr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;
}
#search_by_afiliacao #starto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_afiliacao #pen_scale_title, #search_by_afiliacao #blank {
    border-left: 1px solid #90A6B0;
    padding-left: 10px;
    width: 105px;
}
#search_by_afiliacao #pen_scale_input {
    width: 30px;
}
#search_by_afiliacao #pscale {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 24px;
}
#search_by_energia_escudo {
}
#search_by_energia_escudo span {
    display: inline-block;
    float: left;
    height: 20px;
}
#search_by_energia_escudo #level_rank_title {
    width: 122px;
}
#search_by_energia_escudo #level_rank_input {
    border-right: 1px solid #414A56;
    width: 142px;
}
#search_by_energia_escudo #attack_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 114px;
}
#search_by_energia_escudo #and {
    
    border-right: 1px solid #414A56;
    padding-left: 15px;
    width: 60px;
}
#search_by_energia_escudo #attack_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_energia_escudo #defense_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 74px;
}
#search_by_energia_escudo #defense_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_energia_escudo #atkfr, #search_by_energia_escudo #deffr, #search_by_energia_escudo #atkto, #search_by_energia_escudo #defto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 60px;
}
#search_by_energia_escudo #starfr, #search_by_energia_escudo #starto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 50px;
}
#search_by_energia_escudo #atkfr, #search_by_energia_escudo #deffr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 39px 3px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_energia_escudo #atkto, #search_by_energia_escudo #defto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 39px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_energia_escudo #starfr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;
}
#search_by_energia_escudo #starto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_energia_escudo #pen_scale_title, #search_by_energia_escudo #blank {
    border-left: 1px solid #90A6B0;
    padding-left: 10px;
    width: 105px;
}
#search_by_energia_escudo #pen_scale_input {
    width: 30px;
}
#search_by_energia_escudo #pscale {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 24px;
}

#search_by_alinhamento {
}
#search_by_alinhamento span {
    display: inline-block;
    float: left;
    height: 20px;
}
#search_by_alinhamento #level_rank_title {
    width: 122px;
}
#search_by_alinhamento #level_rank_input {
    border-right: 1px solid #414A56;
    width: 142px;
}
#search_by_alinhamento #attack_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 114px;
}
#search_by_alinhamento #and {
    
    border-right: 1px solid #414A56;
    padding-left: 15px;
    width: 60px;
}
#search_by_alinhamento #attack_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_alinhamento #defense_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 74px;
}
#search_by_alinhamento #defense_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_alinhamento #atkfr, #search_by_alinhamento #deffr, #search_by_alinhamento #atkto, #search_by_alinhamento #defto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 60px;
}
#search_by_alinhamento #starfr, #search_by_alinhamento #starto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 50px;
}
#search_by_alinhamento #atkfr, #search_by_alinhamento #deffr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 39px 3px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_alinhamento #atkto, #search_by_alinhamento #defto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 39px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_alinhamento #starfr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;
}
#search_by_alinhamento #starto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_alinhamento #pen_scale_title, #search_by_alinhamento #blank {
    border-left: 1px solid #90A6B0;
    padding-left: 10px;
    width: 105px;
}
#search_by_alinhamento #pen_scale_input {
    width: 30px;
}
#search_by_alinhamento #pscale {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 24px;
}
#search_by_poderes {
}
#search_by_poderes span {
    display: inline-block;
    float: left;
    height: 20px;
}
#search_by_poderes #level_rank_title {
    width: 122px;
}
#search_by_poderes #level_rank_input {
    border-right: 1px solid #414A56;
    width: 142px;
}
#search_by_poderes #attack_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 114px;
}
#search_by_poderes #and {
    
    border-right: 1px solid #414A56;
    padding-left: 15px;
    width: 60px;
}
#search_by_poderes #attack_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_poderes #defense_title {
    border-left: 1px solid #90A6B0;
    padding-left: 15px;
    width: 74px;
}
#search_by_poderes #defense_input {
    border-right: 1px solid #414A56;
    width: 162px;
}
#search_by_poderes #atkfr, #search_by_poderes #deffr, #search_by_poderes #atkto, #search_by_poderes #defto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 60px;
}
#search_by_poderes #starfr, #search_by_poderes #starto {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 50px;
}
#search_by_poderes #atkfr, #search_by_poderes #deffr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 39px 3px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_poderes #atkto, #search_by_poderes #defto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 39px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_poderes #starfr {
    background: url("../../img/template/mark_more.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;
}
#search_by_poderes #starto {
    background: url("../../img/template/mark_less.png") no-repeat scroll 29px 2px #FFFFFF;
    height: 20px;
    color: #666;    
}
#search_by_poderes #pen_scale_title, #search_by_poderes #blank {
    border-left: 1px solid #90A6B0;
    padding-left: 10px;
    width: 105px;
}
#search_by_poderes #pen_scale_input {
    width: 30px;
}
#search_by_poderes #pscale {
    border: medium none;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    padding: 3px 0 3px 7px;
    width: 24px;
}