@charset "utf-8";


/*form,h1,h2,h3,h4,h5,p,div,table,tr,th,td,dl,dt,dd,ul,ol,li,body,header,footer,article,section,nav{*/
form,h1,h2,h3,h4,h5,p,div,dl,dt,dd,ul,ol,li,body,header,footer,article,section,nav,iframe{
	padding:0;
	margin:0 auto;
	text-align:left;
	list-style:none;
	font-weight:normal;
}


input[type="text"], textarea, select, input[type="password"], input[type="file"]{
	margin:0;
	border:solid 1px #aaa;
}

input[type="radio"], input[type="checkbox"] {
	position:relative;
	padding: 0;
	margin: 3px;
	top:2px;
}

img {
	border: none;
	vertical-align:bottom;
}

a{
	color: #39f;
	text-decoration:none;
	overflow:hidden;
	outline:none;
}

a:hover, a:active, a:focus{
	text-decoration:underline;
}

nav li{
	display:inline-block;

	/display: inline;
	/zoom: 1;
}

#wrapper{
	width:100%;
	height:100%;
	min-height:100%;
	position:relative;
	height: auto;
	background:url(../image/parts/background.png) center top no-repeat fixed;
	padding-bottom:100px;

	display:none;
}

#wrapper>header{
	/*min-height:150px;*/
	min-height:170px;
	background:url(../image/parts/header_bk.png) center top repeat-x;
	text-align:center;
}

	#wrapper>header h1{
		width:980px;
		font-size:12px;
		color:#a5a5a5;
		margin:0 auto;
		text-align:center;
		height:35px;
		line-height:35px;
		background:url(../image/parts/header_h1_background.png) center center no-repeat;
	}
	#wrapper>header #header_meta{
		width:980px;
		height:34px;
		margin-top:-34px;
		position:relative;
	}
		#wrapper>header #header_meta a#konami{float:left;}

		#wrapper>header #header_meta nav#language{
			background:url(../image/parts/change_language_bk.png) top center;
			position:absolute;
			height:20px;
			width:130px;
			top:6px;
			right:0px;
			font-size:12px;
			line-height:20px;
			color:#a9a9a9;
			font-weight:bold;
		}
			#wrapper>header #header_meta nav#language span{
				color:#d1db31;
				display:block;
				height:20px;
				padding-left:15px;
				background:url(../image/parts/change_language_bk.png) bottom left;
				cursor:pointer;
			}
			#wrapper>header #header_meta nav#language ul{
				display:none;
				background:url(../image/parts/change_language_bk.png) bottom right;
				padding:0 0 8px;
				margin-top:8px;
				line-height:18px;
			}
			#wrapper>header #header_meta nav#language ul li{
				display:list-item;
			}

			#wrapper>header #header_meta nav#language ul li a{
				color:#aaa;
				margin:0 2px 0px 1px;
				text-decoration:none;
				padding-left:15px;
				display:block;
				font-weight:bold;
			}
			#wrapper>header #header_meta nav#language ul li a.current{
				color:#d1db31;
			}
				#wrapper>header #header_meta nav#language ul li a:hover{
					background:#444;
				}
/*
	#wrapper>header h1{
		font-size:12px;
		color:#bbb;
		text-align:center;
		height:36px;
		line-height:36px;
	}

	#wrapper>header #header_meta{
		width:980px;
		height:36px;
		position:relative;
		margin-top:-36px;
	}

		#wrapper>header #header_meta nav#language{
			position:absolute;
			top:8px;
			right:0px;
		}


		#wrapper>header #header_meta nav#language ul li{
			line-height:20px;
			margin-right:6px;
		}

		#wrapper>header #header_meta nav#language a{
			color:#888;
		}

			#wrapper>header #header_meta nav#language a:hover{
				color:#ebd176;
			}

		#wrapper>header #header_meta nav#language a.current{
			color:#ebd176;
			font-weight:bold;
		}
*/

	#wrapper>header #header_menu{
		/*2014.03対応　デザイン変更
		width:940px;
		height:118px;*/
		width:980px;
		height:135px;
		text-align:left;
	}
		#wrapper>header #header_menu #main_logo{
			float:left;
			/*2014.03対応　デザイン変更
			display:inline-block;
			margin:3px 0 0 20px;*/
			height:135px;
			width:210px;
			margin-left:30px;
		}

			/*#wrapper>header #header_menu #main_logo a{
				width:234px;
				height:102px;
				display:inline-block;
				overflow:hidden;
				position:relative;
			}

				#wrapper>header #header_menu #main_logo a:hover img{
					margin-top:-102px;
				}*/
		#wrapper>header #header_menu nav{
			float:right;
			margin-right:20px;
			display:inline-block;
			width:690px;
			height:135px;
		}
			#wrapper>header #header_menu nav div#menber_menu{
				height:70px;
			}
				#wrapper>header #header_menu nav div#menber_menu dl{
					padding-top:10px;
				}
				#wrapper>header #header_menu nav div#menber_menu dl>*{
					display:inline-block;
					float:left;
					font-size:13px;
				}
				#wrapper>header #header_menu nav div#menber_menu dt{
					background:#333333;
					color:#ffe400;
					padding:5px 10px;
					border:#4f5f6c 1px solid;
					margin:10px 10px 0;
					border-radius:3px;
				}
				#wrapper>header #header_menu nav div#menber_menu dd a{
					color:#ddd;
					display:inline-block;
					text-decoration:none;
					line-height:32px;
					padding:0 10px;
					margin:10px 1px 1px 5px;
				}
					#wrapper>header #header_menu nav div#menber_menu dd a:hover{
						background:#222;
						margin-right:0px;
						margin-bottom:0px;
						border-right:1px solid #555;
						border-bottom:1px solid #555;
					}
		#wrapper>header #header_menu nav ul#main_menu li{
			height:62px;
			float:left;
		}
			#wrapper>header #header_menu nav ul#main_menu li a{
				display:inline-block;
				height:62px;
			}
			#wrapper>header #header_menu nav ul#main_menu a:hover{background:url(../image/parts/menu_btn_background.png) right bottom no-repeat;}
				#wrapper>header #header_menu nav ul#main_menu a:hover img{
					height:62px;
					background:url(../image/parts/menu_btn_background.png) left top no-repeat;
				}
/*
		#wrapper>header #header_menu nav.main_menu{
			float:right;
			display:inline-block;
			width:650px;
			height:40px;
			margin-top:10px;
		}

		#wrapper>header #header_menu nav.main_menu ul li{
			height:46px;
			padding-right:10px;
		}

		#wrapper>header #header_menu nav.main_menu_ja ul li{
			margin-right:11px;
		}

		#wrapper>header #header_menu nav.main_menu_en ul li{
			margin-right:70px;
		}

		#wrapper>header #header_menu nav.main_menu ul li.last{
			margin-right:0px;
		}

			#wrapper>header #header_menu nav.main_menu ul li a{
				display:inline-block;
				height:46px;
				padding-left:10px;
			}

			#wrapper>header #header_menu nav.main_menu ul li:hover{
				background:url(../image/parts/menu_btn_ovr.png) right bottom no-repeat;
			}

				#wrapper>header #header_menu nav.main_menu ul li:hover a{
					background:url(../image/parts/menu_btn_ovr.png) left top no-repeat;
				}

					#wrapper>header #header_menu nav.main_menu ul li a img{
						border:none;
					}

		#wrapper>header #header_menu nav.member_menu{
			float:right;
			display:inline-block;
			width:625px;
			height:50px;
			margin-right:30px;
		}

		#wrapper>header #header_menu nav.member_menu_ja{
			background:url(../image/ja/member_menu_bk.png);
		}

		#wrapper>header #header_menu nav.member_menu_en{
			background:url(../image/en/member_menu_bk.png);
		}

			#wrapper>header #header_menu nav.member_menu ul{
				padding:16px 0 0 0;
				margin:0 0 0 110px;
				list-style-type:none;
			}

				#wrapper>header #header_menu nav.member_menu ul li{
					margin:0;
					padding:0;
					display:inline-block;
					height:30px;
					overflow:hidden;
					float:left;
					position:relative;
				}

				#wrapper>header #header_menu nav.member_menu_ja ul li{
					margin-right:13px;
				}

				#wrapper>header #header_menu nav.member_menu_en ul li{
					margin-right:25px;
				}

				#wrapper>header #header_menu nav.member_menu ul li.last{
					margin-right:0px;
				}

					#wrapper>header #header_menu nav.member_menu ul li a{
						display:inline-block;
					}

					#wrapper>header #header_menu nav.member_menu ul li a:hover{
						margin-top:-30px;
					}

					#wrapper>header #header_menu nav.member_menu ul li a img{
						border:none;
					}

*/

nav#pan_nav{
		font-size:13px;
		color:#999;
		background:url(../image/parts/pan_nav_bk.png) center no-repeat;
		height:35px;
		text-align:center;
		margin-top:20px;
	}

		nav#pan_nav ul{
			width:910px;
			text-align:left;
			margin:auto;
			line-height:34px;
		}
		nav#pan_nav ul li{
			float:left;
			display:inline-block;
			margin-left:8px;
			color:#ddd;
		}
		nav#pan_nav ul li a{
			text-decoration:none;
			color:#ddd;
		}
		nav#pan_nav ul li a:hover{
			text-decoration:underline;
			color:#fff;
		}
/*

#wrapper>nav#pan_nav{
	font-size:13px;
	color:#999;
	background:url(../image/parts/pan_nav_bk.png) center no-repeat;
}

	#wrapper>nav#pan_nav ul{
		width:910px;
		height:30px;
	}

	#wrapper>nav#pan_nav ul li{
		line-height:27px;
		margin-right:3px;
		white-space:nowrap;
	}

	#wrapper>nav#pan_nav ul li a{
		color:#ccc;
	}
*/
article{
	text-align:center;
	margin-top:20px;
}

	article #broad_title{
		margin-bottom:20px;
		border-top:1px #fff solid;
		border-bottom:1px #fff solid;
		background:url(../image/parts/broad_title_bk.jpg) center top repeat-x;
		/*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
		color:#fff;
	}
		article #broad_title div{
			border-top:2px #777 solid;
			border-bottom:2px #777 solid;
			padding:15px;
			background:url(../image/parts/broad_title_bk_btm.png) bottom center repeat-x;
		}

		article #broad_title h1{
			width:960px;
			text-align:center;
			font-size:30px;
		}

		article #broad_title h1 span{
			display:block;
			color:#ccc;
		}

		article #broad_title h1 span.ruby{
			font-size:12px;
			margin:5px;
		}

	article #article_body{
		width:980px;
		/*width:940px;*/
	}

	article .list_style{
		margin:0 auto 20px;
	}

		article .list_style ul{
			border-style:solid;
			/*border-width:0px 2px;*/
			/*border-color:#444;*/

			padding:1px;
			border-width:2px 2px;
			border-color:#555;
			border-radius: 5px;
		}

			article .list_style ul li{
				/*background:url(../image/parts/list_style_line_bk.png) center center;*/
				background:#fff url(../image/parts/list_style_line_bk.png) bottom repeat-x;
				background-size:100% 100%;
			}

			article .list_style ul.box_list li{
				background:#fff url(../image/parts/list_style_line_bk.png) bottom repeat-x;
				background-size:100% 100%;
			}

			article .list_style ul li:hover{
				background:#6ec0ff;
				color: #fff;

				/*background:#eadff4;*/
			}

			article .list_style ul li:hover span.highlight{
				color:#fff;
			}

		article .list_style span{
			display:inline-block;
			height:20px;
			line-height:20px;
			background-position:left center;
			background-repeat:no-repeat;
			letter-spacing: normal;
			font-size:14px;
			/*2014.02対応 デザイン変更
			margin-right:10px;*/
			padding-right:10px;
		}

		/*2014.02対応 デザイン変更 -s*/
		article .list_style span span{
			padding:0px;
			border: none;
		}
		article .list_style span.box_card_attribute{
			border-right:1px #ccc solid;
		}
		article .list_style span.box_card_level_rank,
		article .list_style span.card_info_species_and_other_item,
		article .list_style span.box_card_effect,
		article .list_style span.atk_power,
		article .list_style span.def_power {
			padding-left: 10px;
			border-left:1px #fff solid;
			border-right:1px #ccc solid;
		}
		article .list_style span.box_card_pen_effect{
			border-left:1px #ccc solid;
		}
		article .list_style span.blank{
			border-left:1px #fff solid;
		}
		/*2014.02対応 デザイン変更 -e */

		article .list_style ul.box_list li dl{
			position:relative;
			/*height:160px;*/
			padding-left:118px;
			padding-right:10px;

			min-height:160px;
		}

			article .list_style ul.box_list li dl dt.box_card_name{
				border-bottom:1px solid #ccc;
				padding:10px 5px 5px;
			}

				article .list_style ul.box_list li:hover dl dt.box_card_name{
					/*border-bottom-color:#6ec0ff;*/
				}

				article .list_style ul.box_list li dl dt.box_card_name span{
					display:block;
					margin:0;
					font-size:10px;
					padding:0;	/*2014.03対応　デザイン変更*/
				}

				article .list_style ul.box_list li dl dt.box_card_name strong{
					/*2014.03対応　デザイン変更
					display:block;*/
					margin:0;
					font-size:16px;
				}

			article .list_style ul.box_list li dl dd.box_card_spec{
				border-top:1px solid #fff;
				border-bottom:1px solid #ccc;
				font-weight:bold;
				position:relative;
				height:30px;
				line-height:30px;
				letter-spacing: -.40em;
				padding:0px 5px;
			}

			/* 2014.02対応 ペンデュラムスケールと効果 -s*/
			article .list_style ul.box_list li dl dd.box_card_pen_info{
				border-top:1px solid #fff;
				border-bottom:1px solid #ccc;
				position:relative;
				line-height:30px;
				letter-spacing: -.40em;
				padding:0px 5px;
			}

				article .list_style ul.box_list li dl dd.box_card_pen_info span.box_card_pen_scale{
					font-weight: bold;
					vertical-align: top;
					padding:5px 10px 0 0;
				}
				article .list_style ul.box_list li dl dd.box_card_pen_info span.blank{
				}
				article .list_style ul.box_list li dl dd.box_card_pen_info span.box_card_pen_effect{
					font-size: 12px;
					width:775px;
					margin-top:5px;
					padding:0px 0px 0px 10px;
					height:inherit;
				}
				article .list_style ul.box_list li dl dd.box_card_pen_info span.narrow{
					width:720px;
				}
			/* 2014.02対応 ペンデュラムスケールと効果 -e*/

				article .list_style ul.box_list li:hover dl dd.box_card_spec{
					/*border-bottom-color:#6ec0ff;*/
				}

				/* 2014.02対応 ペンデュラムスケール追加*/
				article .list_style ul.box_list li dl dd.box_card_spec span.box_card_attribute img.icon_img,
				article .list_style ul.box_list li dl dd.box_card_spec span.box_card_effect img.icon_img,
				article .list_style ul.box_list li dl dd.box_card_spec span.box_card_level_rank img.icon_img,
				article .list_style ul.box_list li dl dd.box_card_spec span.box_card_pen_scale img.icon_img{
					width:20px;
					height:20px;
				}

				article .list_style ul.box_list li dl dd.box_card_spec span.card_status{
					position:absolute;
					right:0;
					top:4px;
					margin:0;
				}

			article .list_style ul.box_list li dl dd.box_card_text{
				/*padding:10px 5px 0;*/
				/*2014.02対応　デザイン変更*/
				/*padding:10px 0 0 5px;*/
				padding:10px 0 5px 5px;
				border-top:1px solid #fff;
				font-size:12px;
				line-height:1.3em;
			}

			article .list_style ul.box_list li dl dd.box_card_img{
				position:absolute;
				left:10px;
				top:10px;
				padding:0 3px 2px 0;
			}

			article .list_style ul.box_list li dl dd.box_card_img img{
				width:96px;
				height:140px;
			}

/*---- #menu_logo -----*/
#menu_logo {
	text-align:left;
	margin-left:30px;
}
#menu_logo img{
	width:187px;
	height:81px;
}

/*---- /#menu_logo -----*/

/*----- footer ------*/
#wrapper>footer{
	background:#222;
	text-align:center;
	margin-bottom:0;
	border-top:1px solid #4f5f6c;
	width:100%;
	position:absolute;
	bottom:0px;
}
	#wrapper>footer #content_copyright{
		border-bottom:#5d5d5d 1px solid;
		height:40px;
		line-height:40px;
		background:url(../image/parts/footer_background.png) center center;
		text-align:center;
	}
		#wrapper>footer #content_copyright img{
			margin:5px auto;
		}
	#wrapper>footer #footer_meta{
		padding:8px;
		width:980px;
	}
		#wrapper>footer #footer_meta *{
			color:#aaa;
			font-size:12px;
		}

		#wrapper>footer.footer_ja #footer_meta small,
		#wrapper>footer.footer_en #footer_meta small,
		#wrapper>footer.footer_it #footer_meta small,
		#wrapper>footer.footer_es #footer_meta small{
			font-size:12px;
			color:#999;
		}
		#wrapper>footer.footer_fr #footer_meta small{
			font-size:11px;
			color:#999;
		}
		#wrapper>footer.footer_de #footer_meta small{
			font-size:10px;
			color:#999;
		}

		#wrapper>footer #footer_meta nav{float:right;}
			#wrapper>footer #footer_meta nav ul li{
				display:inline;
				margin:0 3px;
			}
			#wrapper>footer #footer_meta nav ul li a:hover{text-decoration:none;}
/*
#wrapper>footer{
	width:100%;
	height:75px;
	background:url(../image/parts/footer_bk.png) center top repeat-x;
	position:absolute;
	bottom:0px;
}

	#wrapper>footer small{
		font-size:12px;
		color:#999;
	}

	#wrapper>footer p{
		height:48px;
		line-height:38px;
		text-align:center;
	}

		#wrapper>footer p img{
			padding-top:7px;
		}

	#wrapper>footer #footer_meta{
		width:940px;
		height:26px;
		line-height:26px;
		font-size:12px;
	}

		#wrapper>footer #footer_meta small{
			height:30px;
			color:#aaa;
		}

		#wrapper>footer #footer_meta ul{
			float:right;
		}

		#wrapper>footer #footer_meta li{
			margin:0 3px;
		}

		#wrapper>footer #footer_meta li a{
			color:#aaa;
		}*/
/*----- /footer ------*/


/*----- noscript ------*/
noscript {
	display:block;
	color:#555;
	font-weight:bold;
	font-size:15px;
	line-height:100px;
}
/*----- /noscript ------*/


/*----- rarity ------*/
div.rarity{
	height:20px;
	position:relative;
}

	div.rarity span{
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		background-position:right bottom;
		/*2014.02対応　!important追加*/
		padding-right:4px !important;
		white-space:nowrap;
	}

	div.rarity span b{
		display:block;
		background-position:left top;
		padding-left:32px;
		color:#666;
		height:20px;
		font-size:12px;
		line-height:20px;
	}

	div.rarity span b:hover{
		padding-left:36px;
		padding-right:5px;
	}

/*-----.rarity------*/

/*-----.black_btn------*/

a.black_btn{
	display:inline-block;
	background:url(../image/parts/btn_black.png);
	height:33px;
	line-height:33px;
	width:134px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	font-size:12px;
}

a.black_btn:hover{
	background-position:bottom left;
	text-decoration:none !important;
}

/*------/.black_btn------*/

/*-----.black_mini------*/

a.black_btn_mini{
	display:inline-block;
	background:url(../image/parts/btn_black_mini.png);
	height:20px;
	line-height:20px;
	width:57px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	font-size:11px;
}

a.black_btn_mini:hover{
	background-position:bottom left;
	text-decoration:none !important;
}

/*------/.black_btn------*/


/*------.flat_btn------*/

a.flat_btn{
	font-size:12px;
	padding:5px;
	background-color:#333;
	color:#fff;
	text-decoration:none;
	text-align:center;
	display:block;
	border-radius: 5px;
}
	a.flat_btn:hover{
		background-color:#666;
		text-decoration:none !important;
	}

	a.flat_btn:visited {
		color:#fff;
		text-decoration:none;
	}

/*------/.flat_btn------*/

/*---.page_num_title---*/
.page_num_title {
	height:26px;
	padding-left:10px;
}

.page_num_title strong {
	font-size:15px;
}
/*---.page_num_title---*/

/*---.page_num---*/
.page_num{
	margin:10px 0;
	padding:3px 10px;
	font-size:12px;
	text-align: center;
}

.page_num span a{
	position:relative;
	height:26px;
	line-height:26px;
	display:inline-block;
	padding:0 10px;
	border:solid 1px #888;
	background:#fafafa url(../image/parts/page.png) bottom repeat-x;
	text-decoration:none;
}

.page_num span a:hover{
	text-decoration:underline;
}

.page_num span a.nowpage{
	color:#555;
	font-weight:bold;
	text-decoration:none;
}
/*---/.page_num---*/

/*-----other style----*/
.txt_b{font-weight:bold;}

.t_center{text-align:center !important;}
.t_left{text-align:left !important;}
.t_right{text-align:right !important;}

.f_right{float:right;}
.f_left{float:left;}
.f_del{clear:both;}

.highlight {
	background-color:yellow !important;
	/*background-color:orange !important;*/
	color:#000;
	margin:0 !important;
	padding:0 !important;
	display:inline !important;
}

.none{
	display:none;
}

.radius_top {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.radius_bottom {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.radius_box {
	border-radius: 5px;
}

div.no_data {
	border:solid 2px #555;
	border-radius: 5px;
	background-color:#fff;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	height:200px;
	line-height:200px;
}

#change_sp_view{
	background: rgb(255,242,242);
	background: -moz-linear-gradient(top,  rgb(255,242,242) 0%, rgb(214,214,214) 48%, rgb(158,158,158) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,242,242)), color-stop(48%,rgb(214,214,214)), color-stop(100%,rgb(158,158,158)));
	background: -webkit-linear-gradient(top,  rgb(255,242,242) 0%,rgb(214,214,214) 48%,rgb(158,158,158) 100%);
	background: -o-linear-gradient(top,  rgb(255,242,242) 0%,rgb(214,214,214) 48%,rgb(158,158,158) 100%);
	background: -ms-linear-gradient(top,  rgb(255,242,242) 0%,rgb(214,214,214) 48%,rgb(158,158,158) 100%);
	background: linear-gradient(to bottom,  rgb(255,242,242) 0%,rgb(214,214,214) 48%,rgb(158,158,158) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2f2', endColorstr='#9e9e9e',GradientType=0 );
	border-bottom:1px #ccc solid;
	text-align:center;
}

#change_sp_view a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	font-size:20px;
	background:#ff0;
	padding:5px 20px;
	margin:10px;
	display:inline-block;
	text-shadow:1px 1px 1px #fff;
	border-radius:20px;
	background: rgb(160,160,160);
	background: -moz-linear-gradient(top,  rgb(160,160,160) 0%, rgb(214,214,214) 51%, rgb(160,160,160) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(160,160,160)), color-stop(51%,rgb(214,214,214)), color-stop(100%,rgb(160,160,160)));
	background: -webkit-linear-gradient(top,  rgb(160,160,160) 0%,rgb(214,214,214) 51%,rgb(160,160,160) 100%);
	background: -o-linear-gradient(top,  rgb(160,160,160) 0%,rgb(214,214,214) 51%,rgb(160,160,160) 100%);
	background: -ms-linear-gradient(top,  rgb(160,160,160) 0%,rgb(214,214,214) 51%,rgb(160,160,160) 100%);
	background: linear-gradient(to bottom,  rgb(160,160,160) 0%,rgb(214,214,214) 51%,rgb(160,160,160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#a0a0a0',GradientType=0 );
	border:2px inset #333;
	-webkit-text-size-adjust:100%;
	box-shadow:1px 1px 2px #fff;
}

/*img.icon_info{vertical-align:text-bottom;}*/
img.icon_info:hover{cursor:help;}
	#icon_balloon{
		position:absolute;
		display:inline-block;
		z-index:50;
	}
		#icon_balloon b{
			display:block;
			height:26px;
			line-height:26px;
			min-width:70px;
			padding:0 15px;
			font-weight:bold;
			font-size:12px;
			text-align:center;
			border-radius:5px;
			border-width:2px;
			border-style:solid;
		}
			.type_r>b{		border-color:#9ddc9b;	color:#81c67f;	background:#f6fff6;}/*レア*/
			.type_sr>b{		border-color:#a0c8eb;	color:#6aa1cf;	background:#e9f5ff;}/*スーパーレア*/
			.type_ur>b{		border-color:#f2ce9b;	color:#cfa15e;	background:#fff8ee;}/*ウルトラレア*/
			.type_secret>b{		border-color:#ffb5b5;	color:#e86d6d;	background:#fff4f4;}/*シークレット系*/
			.type_ul>b{		border-color:#ffadfe;	color:#d87ce6;	background:#fff5ff;}/*アルティメトレア*/
			.type_hologra>b{	border-color:#b9d5e4;	color:#779aad;	background:#eef9ff;}/*ホログラシック*/
			.type_gold>b{		border-color:#e2e334;	color:#adae29;	background:#ffffc3;}/*ゴールド系*/
			.type_parallel>b{	border-color:#d3c5fa;	color:#957fd5;	background:#f3f0fd;}/*パラレル系*/
			.type_cr>b{		border-color:#ffdc68;	color:#d8b13e;	background:#fff9e4;}/*コレクターズレア*/

			.type_forbidden>b{		border-color:#fd7979;	color:#fff;	background:#ffa3a3;}/*禁止系*/
			.type_limited>b{		border-color:#fdb352;	color:#fff;	background:#ffc880;}/*制限系*/
			.type_semilimited>b{		border-color:#f1c735;	color:#fff;	background:#fdd752;}/*準制限系*/
			.type_unlimited>b{		border-color:#c3c3c3;	color:#fff;	background:#cfcfcf;}/*解除系*/

		#icon_balloon>span{
			display:block;
			position:absolute;
			right:25px;
			width:0;
			border-width:8px 8px 0px 8px;
			border-style:solid;
			border-left-color:transparent;
			border-right-color:transparent;
			border-bottom-color:transparent;
		}
			.type_r>span{		border-top-color:#9ddc9b;}
			.type_sr>span{		border-top-color:#a0c8eb;}
			.type_ur>span{		border-top-color:#f2ce9b;}
			.type_secret>span{	border-top-color:#ffb5b5;}
			.type_ul>span{		border-top-color:#ffadfe;}
			.type_hologra>span{	border-top-color:#b9d5e4;}
			.type_gold>span{	border-top-color:#e2e334;}
			.type_parallel>span{	border-top-color:#d3c5fa;}
			.type_cr>span{		border-top-color:#ffdc68;}

			.type_forbidden>span{		border-top-color:#fd7979;}
			.type_limited>span{		border-top-color:#fdb352;}
			.type_semilimited>span{		border-top-color:#f1c735;}
			.type_unlimited>span{		border-top-color:#c3c3c3;}

/*----dropkick----*/
	.dk_theme_rp_de .dk_toggle,
	.dk_theme_mode_de .dk_toggle {
	   padding: 1px 10px;


	}
	.dk_theme_mode_de .dk_toggle .dk_label,
	.dk_theme_rp_de .dk_toggle .dk_label,
	.dk_theme_rp_fr .dk_toggle .dk_label,
	.dk_theme_rp_it .dk_toggle .dk_label {
	   padding-right: 12px;
	}
	.dk_theme_sort_fr .dk_toggle, .dk_theme_rp_fr .dk_toggle, .dk_theme_mode_fr .dk_toggle,
	.dk_theme_sort_it .dk_toggle, .dk_theme_rp_it .dk_toggle, .dk_theme_mode_it .dk_toggle,
	.dk_theme_sort_es .dk_toggle, .dk_theme_rp_es .dk_toggle, .dk_theme_mode_es .dk_toggle {
		height: 25px;
	}
/*----/dropkick----*/
