#sddm
{	margin: 0;
	padding: 0;
	height: 26px;
}

#sddm li
{	
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
	list-style: none;
	float: left;
	font: bold 11px arial;
	border-right: 1px solid #CCC;
}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 100%;
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}
#sddm li a:hover
{	
	color:#D2691E;
}

#sddm div
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFF;
	border-left: 4px solid #696969;
	border-bottom: 1px solid #696969;
	border-right: 1px solid #696969;
	margin-top: 2px;
}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #FFF;
		color: #333;
		font: 11px arial}

	#sddm div a:hover
	{	background: #696969;
		color: #FFF}