body{
	background: #e0e0e0;
}

#tb-main{
	margin: 0 auto;
    margin-top: -20px;
}
#banner_bar{
	height: 160px;
	background: #FFF;
}
#menu_bar{
	height: 29px;
	background: url('img/menu.png');
}  
#logo{
	width: 280px;
	height: 70px;
	float: left; 
	margin-left: 50px;	
	margin-top: 20px;
}      
#login_bar{
	width: 100px;
	height: 60px;
	float: left; 	
	margin-left: 580px;	
	margin-top: 30px;    	
} 
#tb_menu{
	
}
#tb_menu td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-right: 1px solid #CCC;
}
.link-menu{
    font-weight: bold;
    color: #4d4c4c;
    font-size: 13px;
}
.link-menu :hover{
    font-weight: bold;
    color: #dc5206;
    font-size: 13px;
}
#footer{
	width: 100%;
	background: #000;
	padding-bottom: 10px;
	color: #FFF;
}
#content{
	width: 100%;
	height: 100%;
	background: #FFF;
}
/* Colunas*/

#column-01{
	float: right;
	width: 750px;
	padding-right: 10px;
}

#column-02{
	width: 230px;
	height: 400px;
	float: left;
	padding-left: 10px;
}

#column-03{
	float: left;
	width: 100%;
}

.tb-form-usuario tr{
	height: 30px;
}
.tb-form-usuario .tb-label{
	padding-right: 10px;
	width: 130px;
	text-align: right;
	font-weight: bold;
}
.tb-form-usuario .tb-input{
	text-align: left;
}
.header-bar{
  width: 1000px;
  margin: 0 auto;
}